.proj-container {
    margin-top: 100px;
}

.projects-title {
    font-size: 30px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 18px;
    margin-top: 40px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(0px);
    transition: all 0.5s;
}

.project-card h3 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.project-card p {
    padding: 10px;
}

.project-card div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-card:hover {
    transform: translateY(-10px);
}

@media (max-width: 700px) {
    .proj-container {
        width: 430px;
        margin: 0 auto;
    }
}